* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
}

header {
  background-color: darkslategrey;
  height: 128px;

  display: flex;
  align-items: center;
  padding: 1rem;
}

#myId {
  font-weight: bold;
  color: white;
}

#myId span {
  padding: 12px 14px;
  border-radius: 2px;
  background-color: rgb(80, 207, 165);
  color: white;
}

.client-item {
  margin-bottom: 6px;

  display: flex;
}

.client-item-id {
  background-color: lightgray;
  border-radius: 8px 0 0 8px;
  border: solid gray 1px;

  padding: 8px 12px;
}

.client-item-value {
  border-radius: 0 8px 8px 0;
  border: solid gray 1px;
  border-left: 0;
  padding: 8px 12px 8px 8px;
}

