* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;

  display: flex;
  margin-bottom: 80px;
}

header {
  background-color: darkslategrey;
  height: 128px;

  display: flex;
  align-items: center;
  padding: 1rem;
}

#myId {
  font-weight: bold;
  color: white;
}

#myId span {
  padding: 12px 14px;
  border-radius: 4px;
  background-color: rgb(80, 207, 165);
  color: white;
}

#bindContainer {
  margin-left: 1rem;
  color: white;
}

#objectId, #icon, #mensagemValue, #mensagem button {
  padding: 12px 14px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: rgb(91, 91, 91);
}

#bind {
  padding: 12px 14px;
  border-radius: 4px;
  border: none;
  background-color: green;
  color: white;
}

#bind:hover {
  background-color: darkgreen;
  cursor: pointer;
}

#objects {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.client-item {
  margin-bottom: 6px;

  display: flex;
}

.client-item-id {
  background-color: lightgray;
  border-radius: 8px 0 0 8px;
  border: solid gray 1px;

  padding: 8px 12px;
}

.client-item-value {
  border-radius: 0 8px 8px 0;
  border: solid gray 1px;
  border-left: 0;
  padding: 8px 12px 8px 8px;
}

#mensagens {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

#mensagem {
  position: fixed;
  height: 80px;
  width: 100%;
  border: solid black 1px;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;

  background-color: cadetblue;

  padding: 8px 14px;
}

#mensagem button {
  height: 40px;
  margin-left: 1rem;
}

#mensagem button:hover {
  cursor: pointer;
}

#mensagemValue {
  height: 40px;
  width: 80%;
}

.mensagem-item {
  min-height: 40px;
  width: fit-content;
  background-color: rgb(62, 64, 67);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  padding: 10px 25px 20px 10px;
  border-radius: 4px;

  margin-bottom: 1rem;
  
}

.mensagem-item.user {
  margin-left: auto;
}

.mensagem-item.user .socket{
  color: chartreuse;
  font-size: 12px;
  margin-bottom: 5px;
}


.mensagem-item .socket{
  color: lightpink;
  font-size: 12px;
  margin-bottom: 5px;
}

.mensagem-item .content {
  color: white;
  font-size: 18px;
}

/* 
.object-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 2rem;
}

.object-item i {
  margin-top: 4px;
  background-color: lightgray;
  border-radius: 4px;
  border: 1px solid darkgray;
}

.object-item .socket {
  background-color: lightgreen;
}

.object-item img {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
 */
